
*{
	background-color: hsl(217, 54%, 11%);
}



a
{
	color: hsl(178, 29%, 40%) ;
}

/* card skeleton */
main
{
	width: 25rem ;
	height: 43rem;
	background-color: hsl(216, 50%, 16%);
	margin: auto;
	margin-top: 100px;
	border-radius: 1rem;
}

/*---- image part ----*/
#first
{
	padding-top: 2%;
	border-radius: 1rem;
	background-color: hsl(216, 50%, 16%);
	position: relative;
}

/* principal image */
.ethImage
{
	margin: 5% auto 0 auto;
	border-radius: 1rem;
  	display: block;
	width: 22rem;
	background-color: hsl(216, 50%, 16%);
}

/* hovering effect: blue filter + svg icon */
.ethImage:hover {
	filter: brightness(121%) contrast(70%) hue-rotate(122deg) saturate(127%) grayscale(36%) sepia(60%) url(#svgTint);
}

/* add the SVG icon to the image */
.overlay{
	position: absolute;
	width: 60px;
	display: none;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	/* z-index: 1; */
}
.ethImage:hover + .overlay
{
	display: block;
	z-index: 1;
	opacity: 1;
}

/*---- title + text ----*/
#second
{
	background-color:hsl(216, 50%, 16%);
}

/* Equilibrium title */
.title
{
	padding-left: 10%;
	background-color: hsl(216, 50%, 16%);
	color: white;
	font-family: Outfit;
	font-size: 600;
}

.title:hover, #bottom .creatorName:hover {
	color: hsl(178, 100%, 50%);
  }

/* all <p> elements */
p
{
	background-color: hsl(216, 50%, 16%);
}

/* principal text */
.description
{
	padding-left: 10%;
	color:  hsl(215, 51%, 70%);
	background-color: hsl(216, 50%, 16%);
	font-family: Outfit;
	font-size: 400;
}

/*----- price + countdown -----*/
#details
{
	display: flex;
	justify-content: space-between;
	padding-left: 10%;
	padding-right: 10%;
	background-color: hsl(216, 50%, 16%);
}

#details p
{
	padding-left: 10px;
	color: hsl(178, 100%, 50%);
	font-family: Outfit;
	font-weight: bold;
}

#details p.countdown
{
	color:  hsl(215, 51%, 70%);
	font-weight: normal;
}

.price
{
	display: flex;
	justify-content: start;
	background-color:  hsl(216, 50%, 16%);
}

.days
{
	display: flex;
	justify-content: start;
	/* justify-content: space-between; */
	background-color:  hsl(216, 50%, 16%);
}

.ethIcone
{
	padding-top: 10px;
	background-color:  hsl(216, 50%, 16%);
	width: 15px;
	height: 25px;
}

.clockIcone
{
	padding-top: 10px;
	background-color:  hsl(216, 50%, 16%);
	width: 25px;
	height: 25px;
}

.line {
	width: 20rem;
	border-color: hsl(217, 49%, 8%) ; 
}

/*---- creation of part ----*/
#bottom
{
	display: flex;
	justify-content: start;
	margin-top: 5%;
	background-color: hsl(216, 50%, 16%);
	border-radius: 1rem;
	color: hsl(215, 51%, 70%);
	font-family: Outfit;
}

#bottom .creatorName
{
	color: white;
}

.creationOf
{
	padding-left:10%;
}

.creatorImage
{
	width: 35px;
	height: 35px;
	background-color: hsl(216, 50%, 16%);
	border-radius: 50%;
	border: 2px solid white;
	margin-left: 10%;
}

/*--- footer part ---*/
footer
{
	margin-top: 50px;
	text-align: center;
	color: hsl(178, 100%, 50%);
}

/* responsiveness manipulation */
/* @media (max-width: 767px) {
	main {
	  width: auto;
	  height: auto;
	  margin-top: 50px;
	  padding: 5%;
	}
	
	.ethImage {
	  width: 90%;
	  margin: 5% auto 0 auto;
	}
	
	.description {
	  font-size: 300;
	}
	
	.creatorImage {
	  width: 20px;
	  height: 20px;
	  margin-left: 5%;
	}
	
	#details p {
	  font-size: 300;
	}
  } */