*{
	background-color: hsl(217, 54%, 11%);
}

footer
{
	color: hsl(178, 100%, 50%);
}

a
{
	color: hsl(178, 29%, 40%) ;
}

main
{
	width: 25rem ;
	height: 40rem;
	/*background-color: hsl(216, 50%, 16%);*/
	background-color: hsl(216, 50%, 16%);
	margin: auto;
	margin-top: 100px;
	border-radius: 1rem;

}
.title
{
	padding-left: 10%;
	background-color: hsl(216, 50%, 16%);
	color: white;
}

p
{
	background-color: hsl(216, 50%, 16%);
}

.description
{
	padding-left: 10%;
	color: white;
	background-color: hsl(216, 50%, 16%);
}

.ethImage
{
	padding: 5%;
	border-radius: 2rem;
	margin: auto;
  	display: block;
	width: 22rem;
	background-color: hsl(216, 50%, 16%);

	/*padding*/
}

#first
{
	border-radius: 1rem;
	background-color: hsl(216, 50%, 16%);
}

#second
{
	background-color:hsl(216, 50%, 16%);
}

.creator
{
	padding-left:10%;
}

#bottom
{
	display: flex;
	justify-content: start;
	background-color: hsl(216, 50%, 16%);
	border-radius: 1rem;
	color: hsl(215, 51%, 70%);
}

#bottom .creatorName
{
	color: white;
}

footer
{
	/*position: absolute;*/
	margin-top: 50px;
	text-align: center;
}
.creatorImage
{
	/* padding-top: 2%; */
	/* padding-left: 10%; */
	width: 35px;
	height: 35px;
	background-color: hsl(216, 50%, 16%);
	border-radius: 50%;
	border: 2px solid white;
	margin-left: 10%;
}

#details
{
	display: flex;
	justify-content: space-between;
	padding-left: 10%;
	padding-right: 10%;
	background-color: hsl(216, 50%, 16%);
}

#details p
{
	padding-left: 10px;
	color: hsl(178, 100%, 50%);
}

#details p.countdown
{
	color:  hsl(215, 51%, 70%);
}

.price
{
	display: flex;
	justify-content: start;
	background-color:  hsl(216, 50%, 16%);
}

.days
{
	display: flex;
	justify-content: start;
	/* justify-content: space-between; */
	background-color:  hsl(216, 50%, 16%);
}

.ethIcone
{
	padding-top: 10px;
	background-color:  hsl(216, 50%, 16%);
	width: 15px;
	height: 25px;
}
.clockIcone
{
	padding-top: 10px;
	background-color:  hsl(216, 50%, 16%);
	width: 25px;
	height: 25px;
}
